.container
  .row
    .col-md-12
      .widget.wgreen
        .widget-head
          h3.pull-left  Convert Cases
          .widget-icons.pull-right
            a.wminimize(href='#', ng-click="widgetToggle($event)")
              i.icon-chevron-up
            a.wclose(href='#', ng-click="widgetClose($event)")
              i.icon-remove
          .clearfix
        .widget-content
          .padd
            .container
              .col-md-4
                ul
                  li(ng-repeat="set in conversionSets")
                    span
                      | # {{ $index }} &nbsp;
                    span
                      | &nbsp; start: {{ set.start }} &nbsp;
                    span
                      | &nbsp; end: {{ set.end }} &nbsp;
                  li.form-group
                    span
                      button.btn.btn-default(type='button', ng-click="getOldCases()") Get Old Cases
                    span(ng-show="casesLoaded > 0")
                      &nbsp; [{{  casesLoaded + '] old case files loaded.'}}
                    span()
                      &nbsp; Current Index = {{currentIndex}}

                  li.form-group
                    input.form-control(type='number', placeholder='Start Index', data-ng-model='startIndex')
                    input.form-control(type='number', placeholder='End Index', data-ng-model='endIndex')
                  li.form-group
                    input.form-control(type='text', placeholder='Case Id', data-ng-model='theOldCaseId')
                    button.btn.btn-default(type='button', ng-click="convertCaseById()") Load Case
                    button.btn.btn-default(type='button', ng-click="removeCaseById()") Delete Case
                  li.form-group
                    button.btn.btn-default(type='button', ng-click="startConversion()") Convert Old Cases to New
            .clearfix
        .widget-foot



    

