.admin-form
  .container
    .row
      .col-md-12
        // Widget starts
        .widget.worange
          // Widget head
          .widget-head
            h2 Create User Account
          .widget-content
            .padd
              
              form.form-horizontal(name='form', ng-submit='register(form)', novalidate='')
                // Email
                .form-group(ng-class='{ \'has-success\': form.name.$valid && submitted, \'has-error\': form.name.$invalid && submitted }')
                  label.control-label.col-lg-3(for='name') Name
                  .col-lg-9
                    input.form-control(type='text', name='name', ng-model='user.name', required='')
                    p.help-block(ng-show='form.name.$error.required && submitted')
                      | A name is required
                
                .form-group(ng-class='{ \'has-success\': form.email.$valid && submitted, \'has-error\': form.email.$invalid && submitted }')
                  label.control-label.col-lg-3(for='email') Email
                  .col-lg-9
                    input.form-control(type='email', name='email', ng-model='user.email', required='', mongoose-error='')
                    p.help-block(ng-show='form.email.$error.email && submitted')
                      | Doesn't look like a valid email.
                    p.help-block(ng-show='form.email.$error.required && submitted')
                      | What's your email address?
                    p.help-block(ng-show='form.email.$error.mongoose')
                      | {{ errors.email }}

                .form-group(ng-class='{ \'has-success\': form.password.$valid && submitted, \'has-error\': form.password.$invalid && submitted }')
                  label.control-label.col-lg-3(for='email') Password
                  .col-lg-9
                    input.form-control(type='password', name='password', ng-model='user.password', ng-minlength='3', required='', mongoose-error='')
                    p.help-block(ng-show='(form.password.$error.minlength || form.password.$error.required) && submitted')
                      | Password must be at least 3 characters.
                    p.help-block(ng-show='form.password.$error.mongoose')
                      | {{ errors.password }}


                .col-lg-9.col-lg-offset-2.btn-toolbar
                  button.btn.btn-danger(type='submit') Sign up
                  button.btn.btn-default(type='reset') Reset
                br
          .widget-foot



