// Form starts.
form.form-horizontal(role='attorneyForm', name='attorneyForm', ng-submit="saveAttorney(attorneyForm)")
  .container
    .row
      .col-md-12
        .widget
          .widget-head
            .pull-left 
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                | < Back 
              / 
              a.click-able(data-ng-href="/settings/attorneys")
                | All Attorneys 
              / {{ pageMetaData.title }}
            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              .container
                .form-group
                  label.col-md-3.control-label First
                  .col-md-3
                    input.form-control(type='text', placeholder='First Name', data-ng-model="attorney.firstName")
                  label.col-md-3.control-label Middle
                  .col-md-3
                    input.form-control(type='text', placeholder='Middle Name', data-ng-model="attorney.middleName")
                .form-group
                  label.col-md-3.control-label Last
                  .col-md-3
                    input.form-control(type='text', placeholder='Last Name', data-ng-model="attorney.lastName")
                .form-group
                  label.col-md-3.control-label Firm
                  .col-md-3
                    input.form-control(type='text', placeholder='Firm Name', data-ng-model="attorney.firmName")
                hr
                .form-group
                  label.col-md-2.control-label Phone 
                    a.click-able(data-ng-click="toggle('showAddNewPhone')")
                      i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewPhone]")
                  .col-md-4
                    ul.clean-list.padd-left-none   
                      li(data-ng-repeat='phone in attorney.phones')
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="phone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                        .col-md-5
                          input.form-control(type='text', 
                            placeholder='Phone', 
                            data-ng-model="phone.value")
                        .col-md-1
                          a.click-able(data-ng-click="removeItem('phones', $index)")
                            i.icon-minus-sign
                      li(data-ng-show="showAddNewPhone || attorney.phones.length === 0")
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="newPhone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                        .col-md-5  
                          input.form-control(type='text', placeholder='Phone', data-ng-model="newPhone.value")
                hr        
                .form-group
                  label.col-md-2.control-label Email
                    a.click-able(data-ng-click="toggle('showAddNewEmail')")
                      i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewEmail]")
                  .col-md-4
                    ul.clean-list.padd-left-none 
                      li(data-ng-repeat='email in attorney.emails')
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="email.label", data-ng-options="label.id as label.value for label in emailLabels")
                        .col-md-5    
                          input.form-control(type='text', placeholder='Email', data-ng-model="email.value")
                        .col-md-1
                          a.click-able(data-ng-click="removeItem('emails', $index)")
                            i.icon-minus-sign
                      li(data-ng-show="showAddNewEmail || attorney.emails.length === 0")
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="newEmail.label", data-ng-options="label.id as label.value for label in emailLabels")
                        .col-md-5    
                          input.form-control(type='text', placeholder='Email', data-ng-model="newEmail.value")
                      
                hr
                .form-group
                  label.col-md-3.control-label Address 1
                  .col-md-7
                    input.form-control(type='text', placeholder='Address 1', data-ng-model="attorney.address1")
                .form-group
                  label.col-md-3.control-label Address 2
                  .col-md-7
                    input.form-control(type='text', placeholder='Address 2', data-ng-model="attorney.address2")

                .form-group
                  label.col-md-3.control-label City
                  .col-md-3
                    input.form-control(type='text', placeholder='City', data-ng-model="attorney.city")
                  label.col-md-3.control-label State
                  .col-md-1
                    input.form-control(type='text', placeholder='State', data-ng-model="attorney.state")
                  label.col-md-3.control-label Zip
                  .col-md-1
                    input.form-control(type='text', placeholder='Zip', data-ng-model="attorney.zip")
               
                hr
                .form-group.col-md-8.center.btn-toolbar
                  button.btn.btn-default.btn-cancel(type='button', data-ng-click="revert()") Cancel
                  button.btn.btn-success(type='submit') Save

