.container.padd
  h3 Billing Information
  hr
  .form-group
    label.col-lg-1.control-label
    .col-lg-4
      label.checkbox-inline
        input(type='checkbox', ng-model='caseFile.billing.billAttorney', ng-change="toggleBillAttorney(caseFile.billing.billAttorney)")
        | Billing info same as attorney's office
  .form-group
    label.col-lg-2.control-label Firm Name
    .col-lg-4
      input.form-control(type='text', placeholder='Firm Name', ng-model='caseFile.billing.firmName')

  .form-group
    label.col-lg-2.control-label First Name
    .col-lg-4
      input.form-control(type='text', placeholder='First Name', ng-model='caseFile.billing.firstName')
  .form-group
    label.col-lg-2.control-label Last Name
    .col-lg-4
      input.form-control(type='text', placeholder='Last Name', ng-model='caseFile.billing.lastName')

  .form-group
    label.col-lg-2.control-label Address 1
    .col-lg-4
      input.form-control(type='text', placeholder='Address 1', ng-model='caseFile.billing.address1')
  .form-group
    label.col-lg-2.control-label Address 2
    .col-lg-4
      input.form-control(type='text', placeholder='Address 2', ng-model='caseFile.billing.address2')
  .form-group
    label.col-lg-2.control-label City
    .col-lg-4
      input.form-control(type='text', placeholder='City', ng-model='caseFile.billing.city')
  .form-group
    label.col-lg-2.control-label State
    .col-lg-2
      select.form-control(data-ng-model="caseFile.billing.state", data-ng-options="state.abbr as state.name for state in states")

    label.col-lg-2.control-label Zip
    .col-lg-2
      input.form-control(type='text', placeholder='Zip', ng-model='caseFile.billing.zip')
  hr
  .form-group
    label.col-md-2.control-label Phone 
      a.click-able(data-ng-click="toggle('showAddNewPhone')")
        i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewPhone]")
    .col-md-4
      ul.clean-list.padd-left-none   
        li(data-ng-repeat='phone in caseFile.billing.phones')
          .col-md-4.padd-left-none 
            select.form-control(data-ng-model="phone.label", data-ng-options="label.id as label.value for label in phoneLabels")
          .col-md-5
            input.form-control(type='text', 
              placeholder='Phone', 
              data-ng-model="phone.value")
          .col-md-1
            a.click-able(data-ng-click="removeItem('phones', $index)")
              i.icon-minus-sign
        li(data-ng-show="showAddNewPhone || caseFile.billing.phones.length === 0")
          .col-md-4.padd-left-none 
            select.form-control(data-ng-model="newPhone.label", data-ng-options="label.id as label.value for label in phoneLabels")
          .col-md-5  
            input.form-control(type='text', placeholder='Phone', data-ng-model="newPhone.value")
  hr        
  .form-group
    label.col-md-2.control-label Email
      a.click-able(data-ng-click="toggle('showAddNewEmail')")
        i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewEmail]")
    .col-md-4
      ul.clean-list.padd-left-none 
        li(data-ng-repeat='email in caseFile.billing.emails')
          .col-md-4.padd-left-none 
            select.form-control(data-ng-model="email.label", data-ng-options="label.id as label.value for label in emailLabels")
          .col-md-5    
            input.form-control(type='text', placeholder='Email', data-ng-model="email.value")
          .col-md-1
            a.click-able(data-ng-click="removeItem('emails', $index)")
              i.icon-minus-sign
        li(data-ng-show="showAddNewEmail || caseFile.billing.emails.length === 0")
          .col-md-4.padd-left-none 
            select.form-control(data-ng-model="newEmail.label", data-ng-options="label.id as label.value for label in emailLabels")
          .col-md-5    
            input.form-control(type='text', placeholder='Email', data-ng-model="newEmail.value")
  .container.padd
    .btn-toolbar(ng-show='caseForm.$dirty')
      button.btn.btn.btn-primary(ng-click='revert()') Revert
      button.btn.btn.btn-primary(ng-click='submit()') Save
