// Form starts.
form.form-horizontal(role='pedestrianForm', name='pedestrianForm', ng-submit="saveForm(pedestrianForm)")
  // Pedestrian edit form starts
  .container
    .row
      .col-md-12
        .widget.add-pedestrian-form
          .widget-head
            .pull-left
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                | < Back 
              / {{ pageMetaData.title }}
            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              .container
                .form-group
                  label.col-lg-2.control-label First Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='First Name', ng-model='pedestrian.firstName')
                  label.col-lg-2.control-label Middle Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Middle Name', ng-model='pedestrian.middleName')
                .form-group
                  label.col-lg-2.control-label Last Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Last Name', ng-model='pedestrian.lastName')
                .form-group
                  label.col-md-2.control-label Phone 
                      a.click-able(data-ng-click="toggle('showAddNewPhone')")
                        i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewPhone]")
                    .col-md-4
                      ul.clean-list.padd-left-none   
                        li(data-ng-repeat='phone in pedestrian.phones')
                          .col-md-4.padd-left-none 
                            select.form-control(data-ng-model="phone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                          .col-md-5
                            input.form-control(type='text', 
                              placeholder='Phone', 
                              data-ng-model="phone.value")
                          .col-md-1
                            a.click-able(data-ng-click="removeItem('phones', $index)")
                              i.icon-minus-sign
                        li(data-ng-show="showAddNewPhone || pedestrian.phones.length === 0")
                          .col-md-4.padd-left-none 
                            select.form-control(data-ng-model="newPhone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                          .col-md-5  
                            input.form-control(type='text', placeholder='Phone', data-ng-model="newPhone.value")
                .form-group
                  label.col-lg-2.control-label Attorney
                  .col-lg-4
                    a.pull-right.click-able(data-ng-href="/settings/attorneys/add")
                      i.icon-plus-sign
                    select.form-control(data-ng-model="pedestrian.attorney", data-ng-options="attorney._id as (attorney.firstName + ' ' + attorney.lastName) for attorney in attorneys")
                hr
                .form-group.center.btn-toolbar
                  button.btn.btn-default.btn-cancel(type='button')(ng-click='revert()') Cancel
                  button.btn.btn-primary(type='submit') Save Pedestrian

