form.form-horizontal(name='caseForm', novalidate='')
  // Case General Information
  // Case edit form starts
  .container
    .row
      .col-md-12
        .widget.wgreen
          .widget-head
            .pull-left
              h3 {{ pageTitle }}
            .widget-icons.pull-right
              a.wminimize(href='#', ng-click="widgetToggle($event)")
                i.icon-chevron-up
              a.wclose(href='#', ng-click="widgetClose($event)")
                i.icon-remove
            .clearfix
          .widget-content
            .container
              .padd
                .btn-toolbar
                  button.btn.btn.btn-default(ng-click='home()', ng-show='caseForm.$pristine') < Back
                  button.btn.btn.btn-default(ng-click='revert()', ng-show='caseForm.$dirty') Cancel Changes
                  button.btn.btn.btn-danger(ng-click='submit(caseForm)', ng-disabled='caseForm.$pristine') Save
            .padd
              .form-group(ng-class='{ \'has-success\': form.caseId.$valid && submitted, \'has-error\': form.caseId.$invalid && submitted }')
                label.col-lg-2.control-label Case Name
                .col-lg-4
                  input.form-control(type='text', name='caseName', mongoose-error='', placeholder='Case Name', ng-model='caseFile.caseName', required)
                  p.help-block(ng-show='form.caseName.$error.mongoose')
                  | {{ errors.caseName }}
                label.col-lg-2.control-label CSI Case #
                .col-lg-4
                  input.form-control(type='text', name='caseId', mongoose-error='', placeholder='CSI Case Number', ng-model='caseFile.caseId', required)
                  p.help-block(ng-show='form.caseId.$error.mongoose')
                  | {{ errors.caseId }}
              .form-group
                label.col-lg-2.control-label Crash #
                .col-lg-4
                  input.form-control(type='text', placeholder='Crash Report #', ng-model='caseFile.crashNum', requred)
              .form-group
                label.col-lg-2.control-label Client
                .col-lg-2
                  .radio
                    label
                      input#optionsRadios1(type='radio', name='plantiffOrDefense', value='plantiff', ng-model='caseFile.plantiffOrDefense')
                      | Plaintiff
                  .radio
                    label
                      input#optionsRadios2(type='radio', name='plantiffOrDefense', value='defense', ng-model='caseFile.plantiffOrDefense')
                      | Defense
              .form-group
                label.col-lg-2.control-label Attorney
                .col-lg-4
                  input.form-control(type='text', placeholder='Attorney', ng-model='caseFile.attorney')
              hr
              .form-group
                label.col-lg-2.control-label Location
                .col-lg-4
                  input.form-control(type='text', placeholder='Location', ng-model='caseFile.location')
                label.col-lg-2.control-label Crash Date
                .col-lg-4
                  input.form-control(type='text', placeholder='Crash Date', ng-model='caseFile.crashDate')
              .form-group
                label.col-lg-2.control-label City / County
                .col-lg-4
                  input.form-control(type='text', placeholder='City / County', ng-model='caseFile.cityCounty')
                label.col-lg-2.control-label State
                .col-lg-4
                  input.form-control(type='text', placeholder='State', ng-model='caseFile.state')
              hr

              .form-group
                label.col-lg-4.control-label Pedestrians
                .col-lg-8
                  input.form-control(type='text', placeholder='Pedestrians', ng-model='caseFile.pedestrian')
              .form-group
                label.col-lg-4.control-label Passenger
                .col-lg-8
                  input.form-control(type='text', placeholder='Passengers', ng-model='caseFile.passengers')
              hr
              .container.pre-scrollable

                .form-group
                  label.col-lg-2.control-label Driver 1 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 1 Name', ng-model='caseFile.driver1Name')
                  label.col-lg-2.control-label Passenger 1 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 1 Name', ng-model='caseFile.passengers1')
                .form-group
                  label.col-lg-4.control-label Car 1 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 1 Type or Carrier Name', ng-model='caseFile.car1TypeOrCarrierName')    

                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 2 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 2 Name', ng-model='caseFile.driver2Name')
                  label.col-lg-2.control-label Passenger 2 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 2 Name', ng-model='caseFile.passengers2')
                .form-group
                  label.col-lg-4.control-label Car 2 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 3 Type or Carrier Name', ng-model='caseFile.car2TypeOrCarrierName')    

                hr

                .form-group
                  label.col-lg-2.control-label Driver 3 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 3 Name', ng-model='caseFile.driver3Name')
                  label.col-lg-2.control-label Passenger 3 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 3 Name', ng-model='caseFile.passengers3')
                .form-group
                  label.col-lg-4.control-label Car 3 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 3 Type or Carrier Name', ng-model='caseFile.car3TypeOrCarrierName')    
                
                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 4 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 4 Name', ng-model='caseFile.driver4Name')
                  label.col-lg-2.control-label Passenger 4 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 4 Name', ng-model='caseFile.passengers4')
                .form-group
                  label.col-lg-4.control-label Car 4 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 4 Type or Carrier Name', ng-model='caseFile.car4TypeOrCarrierName')                        

                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 5 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 5 Name', ng-model='caseFile.driver5Name')
                  label.col-lg-2.control-label Passenger 5 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 5 Name', ng-model='caseFile.passengers5')
                .form-group
                  label.col-lg-4.control-label Car 5 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 5 Type or Carrier Name', ng-model='caseFile.car5TypeOrCarrierName')                        

                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 6 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 6 Name', ng-model='caseFile.driver6Name')
                  label.col-lg-2.control-label Passenger 6 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 6 Name', ng-model='caseFile.passengers6')
                .form-group
                  label.col-lg-4.control-label Car 6 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 6 Type or Carrier Name', ng-model='caseFile.car6TypeOrCarrierName')


                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 7 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 7 Name', ng-model='caseFile.driver7Name')
                  label.col-lg-2.control-label Passenger 7 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 7 Name', ng-model='caseFile.passengers7')
                .form-group
                  label.col-lg-4.control-label Car 7 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 7 Type or Carrier Name', ng-model='caseFile.car7TypeOrCarrierName')


                hr
                
                .form-group
                  label.col-lg-2.control-label Driver 8 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Driver 8 Name', ng-model='caseFile.driver8Name')
                  label.col-lg-2.control-label Passenger 8 Name
                  .col-lg-4
                    input.form-control(type='text', placeholder='Passenger 8 Name', ng-model='caseFile.passengers8')
                .form-group
                  label.col-lg-4.control-label Car 8 Type or Carrier Name
                  .col-lg-8
                    input.form-control(type='text', placeholder='Car 8 Type or Carrier Name', ng-model='caseFile.car8TypeOrCarrierName')                    

          .widget-foot

  
