.container
  .row
    .col-md-12
      .widget
        // Widget title
        .widget-head
          .pull-left Notes & Comments
          .widget-icons.pull-right
            a.wminimize(href='#')
              i.icon-chevron-up
            a.wclose(href='#')
              i.icon-remove
          .clearfix
        .widget-content
          // Widget content
          .padd
            ul.recent
              li(ng-repeat="note in caseFile.notesList")
                .recent-content
                  .recent-meta Posted on {{ note.created | date:'MM-dd-yyyy H:mm' }} by {{ note.employee.name }} 
                  div(click-to-edit="note")
                  .clearfix
              li
                .recent-content
                  .new-note(ng-show="showNewNote")
                    textarea.form-control.clear-fix(ng-model="newNote.note")
                    .btn-group
                      button.btn.btn-sm.btn-default(type="button", ng-click="createNote(this)")
                        i.icon-ok-sign
                      button.btn.btn-sm.btn-default(type="button", ng-click="cancelNote(this)")
                        i.icon-remove
              
          // Widget footer
          .widget-foot
            .pull-left
              button.btn.btn-info(type="button", ng-hide="showNewNote", ng-click="addNote(this, 'CaseFile')") Add Note
            .clearfix
      
        