h3 Task Assignment
hr
.form-group
  label.col-lg-2.control-label Render Scanning
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label CAD
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label Paper port
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label Auto Stats
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label Calculations
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label CMV Compliance Review
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
.form-group
  label.col-lg-2.control-label Process Photographs/Video
  .col-lg-4
    select.form-control
      option Not Required
      option Employee 1
      option Employee 2
      option Employee 3
      option Employee 4
      option Employee 5
// Task Info Tab end