

// Form starts.
form.form-horizontal(role='taskForm', name='taskForm', ng-submit="saveTask(this, taskForm)")
  // Passenger edit form starts
  .container
    .row
      .col-md-12
        .widget.add-passenger-form
          .widget-head
            .pull-left
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                | < Back 
              / {{ pageMetaData.title }}
            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              .container
                .form-group
                  label.col-lg-2.control-label Task Type
                  .col-lg-4
                    select.form-control(
                      data-ng-model="task.type", 
                      data-ng-change="setAdditionalFields(task.type)"
                      data-ng-options="option.id as option.label for option in taskTypes")
                      option(value="")
                        | Select Task...
                
                .form-group
                  label.col-md-2.control-label Investigators 
                    a.click-able(data-ng-click="toggle(this, 'showAddNewInvestigator')")
                      i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewInvestigator]")
                  .col-md-4
                    select.form-control(data-ng-model="newInvestigator", 
                      data-ng-change="addNewInvestigator()", 
                      data-ng-options="employee._id as employee.name for employee in employees",
                      data-ng-show="showAddNewInvestigator || task.investigators.length === 0")
                      option(value="")
                        | Select Investigator...

                    ul.clean-list.padd-left-none.buffer-top-sm.list-inline
                      li.clearfix(data-ng-repeat='investigator in task.investigators')
                        .item-boxed.pull-left
                          {{ getEmployee(investigator).name }}
                          a.click-able(data-ng-click="removeItem('investigators', $index)")
                            i.icon-remove
                

                .form-group(ng-repeat="field in taskDetails.fields", ng-form="taskSubForm")
                  label.col-lg-2.control-label {{ field.label }}
                  .col-lg-4
                    div(data-ng-switch="field.type")
                      div(data-ng-switch-when="select")
                        select.form-control(
                          data-ng-model='field.model',
                          data-ng-options="option as option.label for option in field.options")
                            option(value="")
                              | {{ field.placeholder }}
                      div(data-ng-switch-when="text")
                        input.form-control(type='text', data-ng-model='field.model')

                .form-group(ng-controller="DatePickerCtrl")
                  label.col-lg-2.control-label Due Date
                  .col-lg-4
                    p.input-group
                      input.form-control(type='text', 
                        how-weeks='false', 
                        show-button-bar='false', 
                        datepicker-popup='{{format}}', 
                        ng-model='task.dateDue', 
                        is-open='opened', 
                        min='"2001-01-01"', 
                        max='"maxDate"', 
                        datepicker-options='dateOptions', 
                        date-disabled='disabled(date, mode)', 
                        ng-required='true', close-text='Close')

                      span.input-group-btn
                        button.btn.btn-default(ng-click='open($event)')
                          i.glyphicon.glyphicon-calendar
                .form-group(ng-controller="DatePickerCtrl")
                  label.col-lg-2.control-label Date Performed
                  .col-lg-4
                    p.input-group
                      input.form-control(type='text', 
                        how-weeks='false', 
                        show-button-bar='false', 
                        datepicker-popup='{{format}}', 
                        ng-model='task.dateTimePerformed', 
                        is-open='opened', 
                        min='"2001-01-01"', 
                        max='"maxDate"', 
                        datepicker-options='dateOptions', 
                        date-disabled='disabled(date, mode)', 
                        close-text='Close')

                      span.input-group-btn
                        button.btn.btn-default(ng-click='open($event)')
                          i.glyphicon.glyphicon-calendar
                .form-group(ng-controller="TimePickerCtrl")
                  label.col-lg-2.control-label Time of Inspection
                  .col-lg-4
                    div(ng-model='task.dateTimePerformed', 
                        style='display: inline-block;')
                      timepicker(hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
                .form-group
                  label.col-lg-4.control-label Notes
                  .col-lg-4.clear-fix
                    ul.recent
                      li(ng-repeat="note in task.notesList")
                        .recent-content
                          .recent-meta Posted on {{ note.created | date:'MM-dd-yyyy H:mm' }} by {{ note.employee.name }} 
                          div(click-to-edit="note")
                          .clearfix
                      li
                        .recent-content
                          .new-note(ng-show="showNewNote || task.notesList.length === 0")
                            textarea.form-control.clear-fix(ng-model="newNote.note")
                            .btn-group(ng-show="task._id")
                              button.btn.btn-sm.btn-default(type="button", ng-click="createNote(this)")
                                i.icon-ok-sign
                              button.btn.btn-sm.btn-default(type="button", ng-click="cancel(this)")
                                i.icon-remove
                  .pull-left
                    button.btn.btn-info(type="button", ng-hide="showNewNote || task.notesList.length===0", ng-click="addNote(this, 'Task')") Add Note
                
                hr
                .form-group.center.btn-toolbar
                  button.btn.btn-default.btn-cancel(type="button", ng-click='$back()') Cancel
                  button.btn.btn-primary(type='submit') Save Task

