.container.padd
  h3 Crash Information
  hr
  .form-group
    label.col-lg-2.control-label Reporting Agency
    .col-lg-4
      input.form-control(type='text', placeholder='Reporting Agency', ng-model='caseFile.crashInfo.reportingAgency')
    label.col-lg-2.control-label Officer Name
    .col-lg-4
      input.form-control(type='text', placeholder='Officer Name', ng-model='caseFile.crashInfo.officerName')
  .form-group(ng-controller="DatePickerCtrl")
    label.col-lg-2.control-label Date of Accident
    .col-lg-4
      p.input-group
        input.form-control(type='text', 
          how-weeks='false', 
          show-button-bar='false', 
          datepicker-popup='{{format}}', 
          ng-model='caseFile.crashInfo.crashDateTime', 
          is-open='opened', 
          min='"2001-01-01"', 
          max='"maxDate"', 
          datepicker-options='dateOptions', 
          date-disabled='disabled(date, mode)', 
          close-text='Close')

        span.input-group-btn
          button.btn.btn-default(ng-click='open($event)')
            i.glyphicon.glyphicon-calendar
  .form-group(ng-controller="TimePickerCtrl")
    label.col-lg-2.control-label Time of Accident
    .col-lg-4
      div(ng-model='caseFile.crashInfo.crashDateTime', 
          style='display: inline-block;')
        timepicker(hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
  .form-group
    label.col-lg-4.control-label Road of Occurrence
    .col-lg-8
      input.form-control(type='text', placeholder='Road of Occurrence', ng-model='caseFile.crashInfo.road')
  .form-group
    label.col-lg-4.control-label At its inter-section with
    .col-lg-8
      input.form-control(type='text', placeholder='At its intersection with', ng-model='caseFile.crashInfo.intersection')
  .form-group
    label.col-lg-1.control-label City
    .col-lg-2
      input.form-control(type='text', placeholder='City', ng-model='caseFile.crashInfo.city')
    label.col-lg-1.control-label
    .col-lg-2
      label.checkbox-inline
        input#cityLimits(type='checkbox', value='cityLimits', ng-model='caseFile.crashInfo.cityLimits')
        | Inside City Limits
  .form-group
    label.col-lg-2.control-label County
    .col-lg-2
      input.form-control(type="text", ng-model="caseFile.crashInfo.county", typeahead="county.name for county in counties | filter:$viewValue | limitTo:5", typeahead-editable="true")

    label.col-lg-2.control-label State
    .col-lg-2
      select.form-control(data-ng-model="caseFile.crashInfo.state", data-ng-options="state.abbr as state.name for state in states")
        
  .container.padd
    .btn-toolbar(ng-show='caseForm.$dirty')
      button.btn.btn.btn-primary(type='button', ng-click='revert()') Revert
      button.btn.btn.btn-primary(ng-click='submit()') Save