form.form-horizontal(role='form')
  .container
    .row
      .col-md-12
        .widget
          .widget-head
            .pull-left Add Scene Inspection
            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              .container
                .form-group
                  label.col-lg-2.control-label Inspection Type
                  .col-lg-4
                    select.form-control
                      option 3D Scan
                      option Scene Map
                      option Conspicuity Exam
                  a.add-more.icon-plus-sign(href='#')
                .form-group
                  label.col-lg-2.control-label Assignment
                  .col-lg-4
                    select.form-control
                      option Employee 1
                      option Employee 2
                      option Employee 3
                  a.add-more.icon-plus-sign(href='#')
                .form-group
                  label.col-lg-2.control-label Date Due
                  .col-lg-4
                    #datetimepicker1.input-append
                      input.form-control.dtpicker(data-format='yyyy-MM-dd', type='text')
                      span.add-on
                        i.btn.btn-info.btn-lg(data-time-icon='icon-time', data-date-icon='icon-calendar')
                .form-group
                  label.col-lg-1.control-label
                  .col-lg-2
                    label.checkbox-inline
                      input#cityLimits(type='checkbox', value='cityLimits')
                      | Completed
                hr
                .form-group
                  label.col-lg-1.control-label
                  .col-lg-2
                    h3 Notes
                .form-group
                  .col-lg-1.control-label
                    a.btn.btn-info(href='#addNote') Add Note
                  .col-lg-4
                    ul.recent
                      li
                        .recent-content
                          .recent-meta Posted on 12/3/2013 by Jeff
                          div
                            | Scene has many trees that block line of sight for approaching drivers.
                          .btn-group
                            button.btn.btn-xs.btn-default
                              i.icon-pencil
                            button.btn.btn-xs.btn-default
                              i.icon-remove
                          .clearfix
                      li
                        .recent-content
                          .recent-meta Posted on 12/12/2013 by Angie
                          div
                            | Officer Brian will testify that this location has had 24 accidents in the past 5 years.
                          .btn-group
                            button.btn.btn-xs.btn-default
                              i.icon-pencil
                            button.btn.btn-xs.btn-default
                              i.icon-remove
                          .clearfix
                hr
                .form-group.center
                  button.btn.btn-default.btn-cancel(type='button', data-dismiss='form', aria-hidden='true') Cancel
                  button.btn.btn-success(type='button') Add Inspection
