form.form-horizontal(name='caseForm', novalidate='', ng-submit='processForm(caseForm)')
  .container
    .row
      .col-md-12
        .widget.wgreen
          .widget-head
            .pull-left 
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                  | < Back | 
              {{ caseFile.caseId + ' ' + caseFile.generalInfo.caseName}} 
            .widget-icons.pull-right
              a.wminimize(href='#', ng-click="widgetToggle($event)")
                i.icon-chevron-up
              a.wclose(href='#', ng-click="widgetClose($event)")
                i.icon-remove
            .clearfix
          .widget-content.case-form(ng-controller="CaseDetailTabsCtrl")
            .padd
              // Case Tabs Begin here
              tabset
                tab(heading="General Information", active="tabs[0].active", select="updateTabStore('caseFile', 0)")
                  div.padd(ng-include='\'partials/edit-general-info\'')
                tab(heading="Crash Information", active="tabs[1].active", select="updateTabStore('caseFile', 1)")
                  div.padd(ng-include='\'partials/edit-crash-info\'')
                tab(heading="Vehicles & Passengers", active="tabs[2].active", select="updateTabStore('caseFile', 2)")
                  div.padd(ng-include='\'partials/list-vehicles\'')
                tab(heading="Case Tasks", active="tabs[3].active", select="updateTabStore('caseFile', 3)")
                  div.padd(ng-include='\'partials/list-tasks\'')
                tab(heading="Billing", active="tabs[4].active", select="updateTabStore('caseFile', 4)")
                  div.padd(ng-include='\'partials/edit-billing.jade\'')
                tab(heading="Summary & Notes", active="tabs[5].active", select="updateTabStore('caseFile', 5)")
                  div.padd(ng-include='\'partials/edit-summary-notes\'')
                              
          .widget-foot
            // Footer goes here
