// Form starts.
form.form-horizontal(role='agencyForm', name='agencyForm', ng-submit="saveAgency(agencyForm)")
  .container
    .row
      .col-md-12
        .widget
          .widget-head
            .pull-left 
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                | < Back 
              / 
              a.click-able(data-ng-href="/settings/agencies")
                | All Agencies 
              / {{ pageMetaData.title }}
            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              .container
                .form-group
                  label.col-md-3.control-label Agency
                  .col-md-3
                    input.form-control(type='text', placeholder='Agency Name', data-ng-model="agency.label")
                .form-group
                  label.col-md-3.control-label Contact
                  .col-md-3
                    input.form-control(type='text', placeholder='First Name', data-ng-model="agency.firstName")
                .form-group
                  label.col-md-3.control-label 
                  .col-md-3
                    input.form-control(type='text', placeholder='Last Name', data-ng-model="agency.lastName")
                hr
                .form-group
                  label.col-md-2.control-label Phone 
                    a.click-able(data-ng-click="toggle('showAddNewPhone')")
                      i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewPhone]")
                  .col-md-4
                    ul.clean-list.padd-left-none   
                      li(data-ng-repeat='phone in agency.phones')
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="phone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                        .col-md-5
                          input.form-control(type='text', 
                            placeholder='Phone', 
                            data-ng-model="phone.value")
                        .col-md-1
                          a.click-able(data-ng-click="removeItem('phones', $index)")
                            i.icon-minus-sign
                      li(data-ng-show="showAddNewPhone || agency.phones.length === 0")
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="newPhone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                        .col-md-5  
                          input.form-control(type='text', placeholder='Phone', data-ng-model="newPhone.value")
                hr        
                .form-group
                  label.col-md-2.control-label Email
                    a.click-able(data-ng-click="toggle('showAddNewEmail')")
                      i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewEmail]")
                  .col-md-4
                    ul.clean-list.padd-left-none 
                      li(data-ng-repeat='email in agency.emails')
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="email.label", data-ng-options="label.id as label.value for label in emailLabels")
                        .col-md-5    
                          input.form-control(type='text', placeholder='Email', data-ng-model="email.value")
                        .col-md-1
                          a.click-able(data-ng-click="removeItem('emails', $index)")
                            i.icon-minus-sign
                      li(data-ng-show="showAddNewEmail || agency.emails.length === 0")
                        .col-md-4.padd-left-none 
                          select.form-control(data-ng-model="newEmail.label", data-ng-options="label.id as label.value for label in emailLabels")
                        .col-md-5    
                          input.form-control(type='text', placeholder='Email', data-ng-model="newEmail.value")
                      
                hr
                .form-group
                  label.col-md-3.control-label Address 1
                  .col-md-7
                    input.form-control(type='text', placeholder='Address 1', data-ng-model="agency.address1")
                .form-group
                  label.col-md-3.control-label Address 2
                  .col-md-7
                    input.form-control(type='text', placeholder='Address 2', data-ng-model="agency.address2")

                .form-group
                  label.col-md-3.control-label City
                  .col-md-3
                    input.form-control(type='text', placeholder='City', data-ng-model="agency.city")
                  label.col-md-3.control-label State
                  .col-md-1
                    input.form-control(type='text', placeholder='State', data-ng-model="agency.state")
                  label.col-md-3.control-label Zip
                  .col-md-1
                    input.form-control(type='text', placeholder='Zip', data-ng-model="agency.zip")
               
                hr
                .form-group.col-md-8.center.btn-toolbar
                  button.btn.btn-default.btn-cancel(type='button', data-ng-click="revert()") Cancel
                  button.btn.btn-success(type='submit') Save

