.container.padd
  h3 General Information
  hr
  .container
    .form-group
      label.col-lg-2.control-label Case Name
      .col-lg-4
        input.form-control(type='text', placeholder='Case Name', ng-model='caseFile.generalInfo.caseName')
      label.col-lg-2.control-label CSI Case #
      .col-lg-4
        //h4 {{ caseFile.caseId }}
        input.form-control(type='text', placeholder='CSI Case #', ng-model='caseFile.caseId')
    .form-group
      label.col-lg-2.control-label Crash #
      .col-lg-4
        input.form-control(type='text', placeholder='Crash Report #', ng-model='caseFile.generalInfo.crashNum')
    .form-group
      label.col-lg-1.control-label Injuries
      .col-lg-2
        input.form-control(type='number', name="injuries", placeholder='Total Injuries', ng-model='caseFile.generalInfo.injuries', min='0', ng-maxlength='3')
        span.error(ng-show="caseForm.generalInfo.injuries.$error.maxlength")
          |Too high - realisticly this number is going to be less than 100!
        
      label.col-lg-1.control-label Fatalities
      .col-lg-2
        input.form-control(type='number', name='fatalities', placeholder='Total Fatalities', ng-model='caseFile.generalInfo.fatalities', min='0', max='100')
        span.error(ng-show="caseForm.generalInfo.fatalities.$error.maxlength")
          |Too high - realisticly this number is going to be less than 100!

    .form-group
      label.col-lg-1.control-label Total Vehicles
      .col-lg-2
        input.form-control(type='number', name='totalVehicles', placeholder='Total Vehicles', ng-model='caseFile.generalInfo.totalVehicles', min='0', max='100')
        span.error(ng-show="caseForm.generalInfo.totalVehicles.$error.maxlength")
          |Too high - realisticly this number is going to be less than 100!
        
      label.col-lg-1.control-label
      .col-lg-2
        label.checkbox-inline
          input#accidentReport(type='checkbox', ng-model='caseFile.generalInfo.noAccidentReport')
          | No Accident Report
    .form-group
      label.col-lg-2.control-label Client
      .col-lg-2
        .radio
          label
            input(type='radio', name='plantiffOrDefense', value='plantiff', ng-model='caseFile.generalInfo.clientType')
            | Plaintiff
        .radio
          label
            input(type='radio', name='plantiffOrDefense', value='defense', ng-model='caseFile.generalInfo.clientType')
            | Defense
      label.col-lg-2.control-label Attorney
      .col-lg-2
        a.pull-right.click-able(data-ng-href="/settings/attorneys/add")
          i.icon-plus-sign
        select.form-control(data-ng-model="caseFile.generalInfo.attorney", 
          data-ng-options="attorney._id as (attorney.firstName + ' ' + attorney.lastName) for attorney in attorneys")
        
        label.checkbox-inline
          input(type='checkbox', data-ng-model='caseFile.generalInfo.isCriminal')
          | Criminal
    .container.padd
      .btn-toolbar(ng-show='caseForm.$dirty')
        button.btn.btn.btn-primary(type='button', ng-click='revert()') Revert
        button.btn.btn.btn-primary(type='submit') Save