form.form-horizontal(role='vehicleForm', name='vehicleForm', novalidate)
  .container
    .row
      .col-md-12
        .widget.wgreen
          .widget-head
            .pull-left 
              a.click-able(data-ng-href="#", data-ng-click="$back($event)")
                | < Back | 
               {{ pageMetaData.title }}

            .widget-icons.pull-right
              a.wminimize(href='#')
                i.icon-chevron-up
              a.wclose(href='#')
                i.icon-remove
            .clearfix
          .widget-content
            .padd
              tabset
                tab(heading="Vehicle Information", active="tabs[0].active", select="updateTabStore('vehicle', 0)")
                  .form-group
                    label.col-lg-2.control-label Make
                    .col-lg-4
                      input.form-control(type='text', placeholder='Vehicle Make', data-ng-model='vehicle.make')
                    label.col-lg-2.control-label Model
                    .col-lg-4
                      input.form-control(type='text', placeholder='Vehicle Model', data-ng-model='vehicle.model')
                  .form-group
                    label.col-lg-2.control-label Year
                    .col-lg-4
                     input.form-control(type='number', placeholder='Vehicle Year', data-ng-model='vehicle.year')
                    label.col-lg-2.control-label Color
                    .col-lg-4
                      input.form-control(type='text', placeholder='Vehicle Color', data-ng-model='vehicle.color')
                  .form-group
                    label.col-lg-2.control-label VIN #
                    .col-lg-4
                      input.form-control(type='text', placeholder='VIN #', data-ng-model='vehicle.vin')
                  .form-group
                    label.col-lg-2.control-label Removed By
                    .col-lg-4
                      select.form-control(data-ng-model="vehicle.removedBy", data-ng-options="option.id as option.label for option in removedBy")
                
                  .wrecker-info(data-ng-show="vehicle.removedBy === 'wrecker'")
                    .form-group
                      label.col-lg-2.control-label Wrecker Company
                      .col-lg-4
                        input.form-control(type='text', placeholder='Wrecker Company', data-ng-model='vehicle.wrecker.company')
                    .form-group
                      label.col-lg-2.control-label Contact
                      .col-lg-4
                        input.form-control(type='text', placeholder='Contact', data-ng-model='vehicle.wrecker.contact')
                      label.col-lg-2.control-label Phone
                      .col-lg-4
                        input.form-control(type='text', placeholder='Phone', data-ng-model='vehicle.wrecker.phone')
                  .form-group
                    label.col-lg-2.control-label
                    .col-lg-4
                      label.checkbox-inline
                        input#isCmv(type='checkbox', data-ng-model='vehicle.commercial')
                        | Commercial Motor Vehicle (CMV)
                  .form-group.carrier-name(data-ng-show="vehicle.commercial")
                    label.col-lg-2.control-label Carrier Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='Carrier Name', data-ng-model='vehicle.carrierName')
                  hr
                  .form-group.center.btn-toolbar(ng-show='vehicleForm.$dirty')
                    button.btn.btn-default.btn-cancel(type='button') Cancel
                    button.btn.btn-primary(type='button', ng-click="saveForm(vehicleForm)") Save Vehicle

                tab(heading="Driver Information", active="tabs[2].active", select="updateTabStore('vehicle', 2)")
                  .form-group
                    label.col-lg-2.control-label First Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='First Name', data-ng-model='vehicle.driver.firstName')
                    label.col-lg-2.control-label Middle Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='Middle Name', data-ng-model='vehicle.driver.middleName')
                  .form-group
                    label.col-lg-2.control-label Last Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='Last Name', data-ng-model='vehicle.driver.lastName')
                    label.col-lg-1.control-label
                    .col-lg-2
                      label.checkbox-inline
                        input#citationIssued(type='checkbox', data-ng-model='vehicle.driver.citation')
                        | Citation Issued
                  .form-group  
                    label.col-lg-2.control-label Driver License #
                    .col-lg-4
                      input.form-control(type='text', placeholder='Driver License #', data-ng-model='vehicle.driver.license.number')
                    label.col-lg-2.control-label State
                    .col-lg-2
                      select.form-control(data-ng-model='vehicle.driver.license.state', data-ng-options="state.abbr as state.name for state in states")
                  .form-group
                    label.col-lg-2.control-label Address
                    .col-lg-4
                      input.form-control(type='text', placeholder='Address', data-ng-model='vehicle.driver.address')
                    label.col-lg-2.control-label City
                    .col-lg-4
                      input.form-control(type='text', placeholder='City', data-ng-model='vehicle.driver.city')
                  .form-group
                    label.col-lg-2.control-label State
                    .col-lg-4
                      select.form-control(data-ng-model='vehicle.driver.state', data-ng-options="state.abbr as state.name for state in states")
                    label.col-lg-2.control-label Zip
                    .col-lg-4
                      input.form-control(type='text', placeholder='Zip', data-ng-model='vehicle.driver.zip')
                  .form-group
                    label.col-md-2.control-label Phone 
                      a.click-able(data-ng-click="toggle('showAddNewPhone')")
                        i(data-ng-class="{true:'icon-plus-sign', false:'icon-minus-sign'}[!showAddNewPhone]")
                    .col-md-4
                      ul.clean-list.padd-left-none   
                        li(data-ng-repeat='phone in vehicle.driver.phones')
                          .col-md-4.padd-left-none 
                            select.form-control(data-ng-model="phone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                          .col-md-5
                            input.form-control(type='text', 
                              placeholder='Phone', 
                              data-ng-model="phone.value")
                          .col-md-1
                            a.click-able(data-ng-click="removeItem('phones', $index)")
                              i.icon-minus-sign
                        li(data-ng-show="showAddNewPhone || vehicle.driver.phones.length === 0")
                          .col-md-4.padd-left-none 
                            select.form-control(data-ng-model="newPhone.label", data-ng-options="label.id as label.value for label in phoneLabels")
                          .col-md-5  
                            input.form-control(type='text', placeholder='Phone', data-ng-model="newPhone.value")
                  hr
                  .form-group.center.btn-toolbar(ng-show='vehicleForm.$dirty')
                    button.btn.btn-default.btn-cancel(type='button') Cancel
                    button.btn.btn-primary(type='button', ng-click="saveForm(vehicleForm)") Save Vehicle

                tab(heading="Passengers", active="tabs[3].active", select="updateTabStore('vehicle', 3)")    
                  .container.padd
                    .pull-left
                      a.btn.btn-info.add-passenger(ng-click="addPassenger()") Add Passenger
                    table.table.table-striped.table-bordered.table-hover
                      thead
                        tr
                          th #
                          th Passenger Name
                          th Phone
                          th Control
                      tbody
                        tr(data-ng-repeat="passenger in passengers")
                          td {{ $index+1 }}
                          td {{ passenger.firstName + ' ' + passenger.lastName}}
                          td 
                            ul 
                              li(data-ng-repeat="phone in passenger.phones")
                                | {{ phone.value }}
                          td.btn-toolbar
                            button.btn.btn-xs.btn-warning(type="button", ng-click='editPassenger(passenger)')
                              i.icon-pencil 
                            button.btn.btn-xs.btn-danger(type="button", ng-click='initDeletePassenger(passenger)')
                              i.icon-remove
                
                tab(heading="Inspections & Tasks", active="tabs[1].active", select="updateTabStore('vehicle', 1)")
                  .container.padd
                    .pull-left
                      a.btn.btn-info.add-vehicle(ng-click='addTask()') Add Inspection
                    table.table.table-striped.table-bordered.table-hover
                      thead
                        tr
                          th #
                          th Inspection Type
                          th Due Date
                          th Date Performed
                          th Assigned To
                          th Control
                      tbody
                        tr(data-ng-repeat="task in taskList")
                          td.click-able(ng-click='editTask(task)') {{ $index+1 }}
                          td.click-able(ng-click='editTask(task)') {{ task.label}}
                          td.click-able(ng-click='editTask(task)') {{ task.dateDue | date:'MM-dd-yyyy' }}
                          td.click-able(ng-click='editTask(task)') {{ task.dateTimePerformed | date:'MM-dd-yyyy' }}
                          td.click-able(ng-click='editTask(task)') 
                            span(ng-bind-html="task.investigatorList")
                          td
                            .btn-toolbar
                              button.btn.btn-xs.btn-warning(type="button", ng-click='editTask(task)')
                                i.icon-pencil
                              button.btn.btn-xs.btn-danger(type="button", ng-click='initDeleteTask(task)')
                                i.icon-remove

                tab(heading="Notes", active="tabs[4].active", select="updateTabStore('vehicle', 4)")
                  .form-group
                    ul.recent
                      li(ng-repeat="note in vehicle.notesList")
                        .recent-content
                          .recent-meta Posted on {{ note.created | date:'MM-dd-yyyy H:mm' }} by {{ note.employee.name }} 
                          div(click-to-edit="note")
                          .clearfix
                      li
                        .recent-content
                          .new-note(ng-show="showNewNote")
                            textarea.form-control.clear-fix(ng-model="newNote.note")
                            .btn-group
                              button.btn.btn-sm.btn-default(type="button", ng-click="createNote()")
                                i.icon-ok-sign
                              button.btn.btn-sm.btn-default(type="button", ng-click="cancelNote()")
                                i.icon-remove
                      
                    .pull-left
                      button.btn.btn-info(type="button", ng-hide="showNewNote", ng-click="addNote()") Add Note
                   


