// Footer starts
footer
  .container
    .row
      .col-md-12
        // Copyright info
        p.copy
          | Copyright © 2014 |
          | Collision Specialists, Inc.
// Footer ends
// Scroll to top
span.totop
  a#bottom(href='' ng-click="scrollTop()")
   i.icon-chevron-up   
