.navbar.navbar-fixed-top.bs-docs-nav(role='banner')
  .conjtainer
    // Menu button for smallar screens
    .navbar-header
      button.navbar-toggle.btn-navbar(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span Menu
      // Site name for smallar screens
      a.navbar-brand(href='/') CSI - CasePro

    // Navigation starts
    nav.collapse.navbar-collapse#bs-navbar-collapse
      ul#top.nav.navbar-nav.pull-left(data-ng-show='currentUser')
        li.spacer.spacer-top
          //a.main-brand.sm.pull-left(href='/')
          //h2.title Collision Specialists - CasePro
        
        li.dropdown
          a.dropdown-toggle(href='#')
            span.label.label-success
              i.icon-book
            | Recently Viewed Cases
          // Dropdown
          ul.dropdown-menu
            li(ng-repeat="log in latestCases | limitTo:5  | orderBy: log.created:true")
              a(ng-href='/cases/{{log.case_id}}') {{ log.caseId + " " +log.caseName}}
            
        li
          a.dropdown-toggle(href='#', ng-click="newCase()")
            span.label.bblue
              i.icon-file-alt
            | New Case

        li
          a
            span.label.bred
              i.icon-signal.bred
            | Total Cases {{ statistics.total }}
            

        
      // Admin links
      ul.nav.navbar-nav.pull-right(ng-show='currentUser')
        li.dropdown.pull-right
          a.dropdown-toggle(href='#')
            i.icon-user
            | Admin
            b.caret
          // Dropdown menu
          ul.dropdown-menu
            li
              a(ng-href="#" ng-click="logout()")
                i.icon-off
                | Logout
            li 
              a(href='/settings/user') 
                i.icon-lock
                | Change password 
            li
              a(href='/settings/create-user') 
                i.icon-user
                | Create user
            li
              a(href='/settings/attorneys') 
                i.icon-male
                | Manage Attorneys
            li
              a(href='/settings/agencies') 
                i.icon-globe
                | Manage Agencies
            li
              a(href='/settings/trash-bin') 
                i.icon-trash
                | Trash bin
            li
              a(href='/settings/convert-cases') 
                i.icon-folder-open-alt
                | Convert Old Cases to New
  //
    header
    .container
      .row
        // Logo section
        .col-md-4
          // Logo.
          .logo
            h1
              a(href='#')
          // Logo ends
        // Button section
        .col-md-8
          // Buttons
          .header-data
            // Case data
            .hdata
              .mcol-left
                // Icon with red background
                i.icon-signal.bred
              .mcol-right
                // Hot Cases
                p
                  a(href='#') 10
                  em hot cases
              .clearfix
            // New cases
            .hdata
              .mcol-left
                // Icon with blue background
                i.icon-user.bblue
              .mcol-right
                // Number of visitors
                p
                  a(href='#') 3
                  em new cases
              .clearfix
            // Total active cases
            .hdata
              .mcol-left
                // Icon with green background
                i.icon-money.bgreen
              .mcol-right
                // Total numkber of cases
                p
                  a(href='#') 51
                  em active cases
              .clearfix
  // Header ends

