
.container
  .row
    .col-md-12
      // Widget starts
      .widget.worange
        // Widget head
        .widget-head
          h2 Manage Attorneys
        .widget-content
          .padd
            form.form-horizontal(name='attorneys', novalidate='')
              .container.padd
                h3 Attorneys
                hr
                .container
                  .pull-left
                    a.btn.btn-info(ng-href='/settings/attorneys/add') Add Attorney
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th First Name
                        th Last Name
                        th Firm
                        th Phone
                        th Controls
                    tbody
                      tr(data-ng-repeat="attorney in attorneys")
                        td {{ attorney.firstName }}
                        td {{ attorney.lastName }}
                        td {{ attorney.firmName }}
                        td 
                          ul 
                            li(data-ng-repeat="phone in attorney.phones")
                              | {{ phone.value }}
                        td.btn-toolbar
                          a.btn.btn-xs.btn-warning(data-ng-href="/settings/attorneys/{{attorney._id}}")
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger(data-ng-click="deleteAttorney(attorney)")
                            i.icon-remove
                        

