.container.padd
  h3 Inspections, Tasks, & Record Requests
  hr
  .padd
    .pull-left
      a.btn.btn-info.add-vehicle(ng-click='addTask()') Add Case Task
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th #
          th Task Type
          th Description
          th Due Date
          th Date Performed
          th Assigned To
          th Control
      tbody
        tr(data-ng-repeat="task in taskList")
          td.click-able(ng-click='editTask(task)') {{ $index+1 }}
          td.click-able(ng-click='editTask(task)') {{ task.label}}
          td.click-able(ng-click='editTask(task)') {{ task.description}}
          td.click-able(ng-click='editTask(task)') {{ task.dateDue | date:'MM-dd-yyyy' }}
          td.click-able(ng-click='editTask(task)') {{ task.dateTimePerformed | date:'MM-dd-yyyy' }}
          td.click-able(ng-click='editTask(task)') 
            span(ng-bind-html="task.investigatorList")
          td
            .btn-toolbar
              button.btn.btn-xs.btn-warning(type="button", ng-click='editTask(task)')
                i.icon-pencil
              button.btn.btn-xs.btn-danger(type="button", ng-click='initDeleteTask(task)')
                i.icon-remove