.container
  .row
    .col-md-12
      // Widget starts
      .widget.worange
        // Widget head
        .widget-head
          h2 Manage Agencies
        .widget-content
          .padd
            form.form-horizontal(name='agencies', novalidate='')
              .container.padd
                h3 Agencies
                hr
                .container
                  .pull-left
                    a.btn.btn-info(ng-href='/settings/agencies/add') Add Agency
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th Agency Name
                        th Contact Name
                        th Phone
                        th Controls
                    tbody
                      tr(data-ng-repeat="agency in agencies")
                        td {{ agency.label }}
                        td {{ agency.firstName }}&nbsp;{{ agency.lastName }}
                        td 
                          ul 
                            li(data-ng-repeat="phone in agency.phones")
                              | {{ phone.value }}
                        td.btn-toolbar
                          a.btn.btn-xs.btn-warning(data-ng-href="/settings/agencies/{{agency._id}}")
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger(data-ng-click="deleteAgency(agency)")
                            i.icon-remove
                        


