.container.padd
  h3 Vehicles & Passengers
  hr
  .container
    .pull-left
      a.btn.btn-info.add-vehicle(ng-click='addVehicle()') Add Vehicle
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th #
          th Vehicle Info
          th Driver Name
          th Passengers
          th Control
      tbody
        tr(data-ng-repeat="vehicle in caseFile.participants.vehicleList")
          td.click-able(ng-click='editVehicle(vehicle)') {{ $index+1 }}
          td.click-able(ng-click='editVehicle(vehicle)') {{ vehicle.year +' ' + vehicle.make + ' ' + vehicle.model}}
          td.click-able(ng-click='editVehicle(vehicle)') {{ vehicle.driver.firstName + ' ' + vehicle.driver.lastName }}
          td 
            ul 
              li(data-ng-repeat="passenger in vehicle.passengerList")
                a(ng-href="#", ng-click='editPassenger($event, vehicle, passenger)')
                  | {{ passenger.firstName + ' ' + passenger.lastName }}
          td
            .btn-toolbar
              button.btn.btn-xs.btn-warning(type='button', ng-click='editVehicle(vehicle)')
                i.icon-pencil
              button.btn.btn-xs.btn-danger(type='button', ng-click='deleteVehicle(vehicle)')
                i.icon-remove

  h3.buffer-top-md Pedestrians
  hr
  .container
    .pull-left
      a.btn.btn-info.add-vehicle(ng-click='addPedestrian()') Add Pedestrian
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th #
          th Name
          th Phone
          th Attorney
          th Control
      tbody
        tr(data-ng-repeat="pedestrian in caseFile.participants.pedestrianList")
          td.click-able(ng-click='editPedestrian(pedestrian)') {{ $index+1 }}
          td.click-able(ng-click='editPedestrian(pedestrian)') {{ pedestrian.firstName + ' '+ pedestrian.middleName + ' '+ pedestrian.lastName}}
          td.click-able(ng-click='editPedestrian(pedestrian)') {{ pedestrian.phones.length > 0 ? pedestrian.phones[0].value : '' }}
          td.click-able(ng-click='editPedestrian(pedestrian)') {{ pedestrian.attorney ? getAttorneyName(pedestrian.attorney) : '' }}
          td
            .btn-toolbar
              button.btn.btn-xs.btn-warning(type='button', ng-click='editPedestrian(pedestrian)')
                i.icon-pencil
              button.btn.btn-xs.btn-danger(type='button', ng-click='deletePedestrian(pedestrian)')
                i.icon-remove
