.admin-form
  .container
    .row
      .col-md-12
        // Widget starts
        .widget.worange
          // Widget head
          .widget-head
            i.icon-lock
            |  Login
          .widget-content
            .padd
              // Login form
              form.form-horizontal(name='form', ng-submit='login(form)', novalidate='novalidate')
                // Email
                .form-group
                  label.control-label.col-lg-3(for='inputEmail') Email
                  .col-lg-9
                    input#inputEmail.form-control(type='text', name='email', ng-model='user.email')
                // Password
                .form-group
                  label.control-label.col-lg-3(for='inputPassword') Password
                  .col-lg-9
                    input#inputPassword.form-control(type='password', name='password', ng-model='user.password')
                .form-group.has-error
                  label.control-label.col-lg-3
                  .col-lg-9
                    p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                      | Please enter your email and password.
                    p.help-block {{ errors.other }}
                // Remember me checkbox and sign in button
                .form-group
                  .col-lg-9.col-lg-offset-3
                    .checkbox
                      label
                        input(type='checkbox', ng-model='remember', ng-change='rememberMe()')
                        | Remember me
                .col-lg-9.col-lg-offset-2.btn-toolbar
                  button.btn.btn-danger(type='submit') Sign in
                  button.btn.btn-default(type='reset') Reset
                br
          .widget-foot



