// Page heading
.page-head
  h2.pull-left.main-brand.sm 
    a(href='/')
  // Breadcrumb
  .bread-crumb.pull-right
    a(href='index.html')
      i.icon-home.
      | Home
    // Divider
    span.divider /
    a.bread-current(href='#')
  .clearfix
// Page heading ends