// Open case status window. {{}}
//
  .container
    .row
      .col-md-4
        .widget
          .widget-head
            .pull-left Case Search
            .widget-icons.pull-right
              a.wminimize(href='#', ng-click="widgetToggle($event)")
                i.icon-chevron-up
              a.wclose(href='#', ng-click="widgetClose($event)")
                i.icon-remove
            .clearfix
          .widget-content.widget-container-height
            .container
              h2 Search for Conflict
              div.filter-input.spacer.spacer-right
                input.form-control.search-field(type='text', ng-model="query", placeholder='Search...') 
                a.click-able(ng-click="clearSearchResults()")
                  i.icon-remove.clear-search
              button.btn.btn-primary.spacer.spacer-right(type="button", ng-click="search()")
                | Search

              div.clearfix
              h4(ng-show="searchResults.hits.length === 0 && searched")
               | No results found

            .container(ng-show="searchResults.hits.length > 0")
              hr
              ul
                li(ng-repeat="result in searchResults.hits")
                  
                  div(data-ng-switch="result._type")
                    div(data-ng-switch-when="casefile")
                      a.click-able(ng-href="cases/{{result._source._id}}")
                        i.icon-folder-open {{result._source.caseId}}&nbsp;{{result._source.generalInfo.caseName}}
                    div(data-ng-switch-when="vehicle")  
                      a.click-able(ng-href="cases/{{result._source.owner.id}}/vehicle/{{result._source._id}}")
                        i.icon-truck {{result._source.year}}&nbsp;{{result._source.make}}&nbsp;{{result._source.model}}
                    div(data-ng-switch-when="note")
                      a.click-able(ng-href="cases/{{result._source.owner.id}}/vehicle/{{result._source._id}}")
                        i.icon-pencil {{result._source.updated}}&nbsp;{{result._source.author}}&nbsp;{{result._source.note}}
                    div(data-ng-switch-when="task")
                      a.click-able(ng-href="cases/{{result._source.owner.id}}/vehicle/{{result._source._id}}")
                        i.icon-tasks {{result._source.updated}}&nbsp;{{result._source.label}}&nbsp;{{result._source.dateDue}}
                    div(data-ng-switch-when="passenger")
                      a.click-able(ng-href="cases/{{result._source.owner.id}}/vehicle/{{result._source._id}}")
                        i.icon-male {{result._source.updated}}&nbsp;{{result._source.lastName}}&nbsp;{{result._source.firstName}}
          //
            
    

// Open case status window. 
.container
  .row
    .col-md-12
      .widget
        .widget-head
          .pull-left Manage Cases
          .widget-icons.pull-right
            a.wminimize(href='#', ng-click="widgetToggle($event)")
              i.icon-chevron-up
            a.wclose(href='#', ng-click="widgetClose($event)")
              i.icon-remove
          .clearfix
        .widget-content
          .container
            .padd
              .row
                .col-md-12
                  h2 Conflict Search
              .row
                .form-horizontal.form-group
                  .col-md-6
                    div.filter-input.spacer.spacer-right
                      input.form-control.search-field(type='text', ng-model="query", placeholder='Search...') 
                      a.click-able(ng-click="clearSearchResults()")
                        i.icon-remove.clear-search
                    button.btn.btn-primary.spacer.spacer-right(type="button", ng-click="search()")
                      | Search
              
                  .col-md-2(ng-hide="searchResults.casefiles.length > 0")
                    label.control-label.pull-right
                      | Page Size
                  .col-md-4(ng-hide="searchResults.casefiles.length > 0")
                    span.filter-input
                      select.form-control(
                            ng-model="itemsPerPage",
                            data-ng-change="paginationUpdated()"
                            data-ng-options="option for option in itemCountOptions")

                    span.filter-input
                      ul.pagination.pull-right
                        li.prev(ng-class='{disabled: currentPage == 0}')
                          a(href='href', ng-click='pagination.prevPage()') ← Previous
                        li.next(ng-class='{disabled: currentPage == totalPages-1}')
                          a(href='href', ng-click='pagination.nextPage()') Next →


            hr

            div(ng-show="showSearchResults")
              // search result block
              h3 Case Files in Search Results
              table.table.table-bordered(ng-show="searchResults.casefiles.length >0")
                thead
                  tr
                    th.main-table.case-num.restrict-column-width.fixed
                      | Case #
                    th.main-table.case-name.restrict-column-width
                      | Case Name
                    th.main-table.case-crashnum.restrict-column-width.fixed
                      | Crash Number
                    th.main-table.case-location.restrict-column-width
                      | Road
                    th.main-table.case-drivers.restrict-column-width
                      | Drivers
                    th.main-table.case-car-type.restrict-column-width
                      | Car Type/Carrier
                    th.main-table.case-crash-date.restrict-column-width.fixed
                      | Crash Date
                    th.main-table.case-city-county.restrict-column-width.sm
                      | City
                    th.main-table.case-city-county.restrict-column-width.sm
                      | County
                    th.main-table.case-state.restrict-column-width.sm
                      | State
                    th.main-table.case-controls   
                tbody 
                  
                  tr.click-able(ng-repeat="result in searchResults.casefiles", 
                              ng-class="{'last-opened': result._source._id === latestCases[0].case_id, 'no-accident-report': result._source.generalInfo.noAccidentReport, 'light-row': $index % 2 === 0}")
                    td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, result._source._id)") {{result._source.caseId}}
                    td.main-table.case-name(ng-click="openCase($event, result._source._id)") {{ result._source.generalInfo.caseName }}
                    td.main-table.case-crashnum(ng-click="openCase($event, result._source._id)") {{ result._source.generalInfo.crashNum }}
                    td.main-table.case-location(ng-click="openCase($event, result._source._id)") {{ result._source.crashInfo.road }}
                    td.main-table.case-drivers(ng-click="openCase($event, result._source._id)", ng-bind-html="getItemList(result._source.participants.vehicleSummary, 'driver')")
                    td.main-table.case-car-type(ng-click="openCase($event, result._source._id)", ng-bind-html="getItemList(result._source.participants.vehicleSummary, 'description')")
                    td.main-table.case-crash-date(ng-click="openCase($event, result._source._id)") {{ result._source.crashInfo.crashDateTime  | date:'MM-dd-yyyy' }}
                    td.main-table.case-city-county(ng-click="openCase($event, result._source._id)") {{ result._source.crashInfo.city }}
                    td.main-table.case-city-county(ng-click="openCase($event, result._source._id)") {{ result._source.crashInfo.county }}
                    td.main-table.case-state(ng-click="openCase($event, result._source._id)") {{ result._source.crashInfo.state }}
                    td.main-table
                      button.btn.btn-xs.btn-warning(ng-click="openCase($event, result._source._id)")
                        i.icon-pencil
                      button.btn.btn-xs.btn-danger(ng-click="removeCaseFile(result._source)")
                        i.icon-remove
                  tr
                    td(colspan="11", ng-hide="searchResults.casefiles.length > 0")
                      h4
                        | No items found matching search terms &#39{{query}}&#39



              div.buffer-top-md(ng-show="searchResults.vehicles.length >0")
                h3 Vehicles in Search Results
                table.table.table-bordered
                  thead
                    tr
                      th.main-table.case-num.restrict-column-width.fixed
                        | Make Model Year
                      th.main-table.case-location.restrict-column-width
                        | Driver
                      th.main-table.case-controls 
                  tbody 
                    
                    tr.click-able(ng-repeat="result in searchResults.vehicles")
                      td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, result._source.caseFile, 2)")  {{ getVehicleInfo(result._source) }}
                      td.main-table.case-drivers(ng-click="openCase($event, result._source.caseFile, 2)") {{getName(result._source)}}
                      td.main-table
                        button.btn.btn-xs.btn-warning(ng-click="openCase($event, result._source.caseFile, 2)")
                          i.icon-pencil
                  
            
              div.buffer-top-md(ng-show="searchResults.passengers.length >0")
                h3 Passengers in Search Results
                table.table.table-bordered
                  thead
                    tr
                      th.main-table.case-num.restrict-column-width.fixed
                        | Name
                      th.main-table.case-controls 
                  tbody 
                    
                    tr.click-able(ng-repeat="result in searchResults.passengers")
                      td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, result._source.caseFile, 2)")  {{getName(result._source)}}
                      td.main-table
                        button.btn.btn-xs.btn-warning(ng-click="openCase($event, result._source.caseFile, 2)")
                          i.icon-pencil


              div.buffer-top-md(ng-show="searchResults.pedestrians.length >0")
                h3 Pedestrians in Search Results
                table.table.table-bordered
                  thead
                    tr
                      th.main-table.case-num.restrict-column-width.fixed
                        | Name
                      th.main-table.case-controls 
                  tbody 
                    
                    tr.click-able(ng-repeat="result in searchResults.pedestrians")
                      td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, result._source.caseFile, 2)")  {{getName(result._source)}}
                      td.main-table
                        button.btn.btn-xs.btn-warning(ng-click="openCase($event, result._source.caseFile, 2)")
                          i.icon-pencil







            // case list block
            table.table.table-bordered(ng-hide="showSearchResults")
              thead
                tr
                  th.main-table.case-num.restrict-column-width.fixed
                    a(href="#", data-ng-click="setSort('caseId')") Case #
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'caseId']")
                  th.main-table.case-name.restrict-column-width
                    a(href="", data-ng-click="setSort('generalInfo_caseName')") Case Name
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'generalInfo_caseName']")
                  th.main-table.case-crashnum.restrict-column-width.fixed
                    a(href="", data-ng-click="setSort('generalInfo_crashNum')") Crash Number
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'generalInfo_crashNum']")
                  th.main-table.case-location.restrict-column-width
                    a(href="", data-ng-click="setSort('crashInfo_road')") Road
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'crashInfo_road']")

                  th.main-table.case-drivers.restrict-column-width
                    | Drivers
                  th.main-table.case-car-type.restrict-column-width
                    | Car Type/Carrier
                  th.main-table.case-crash-date.restrict-column-width.fixed
                    a(href="", data-ng-click="setSort('crashInfo_crashDateTime')") Crash Date
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'crashInfo_crashDateTime']") 
                  th.main-table.case-city-county.restrict-column-width.sm
                    a(href="", data-ng-click="setSort('crashInfo_city')") City
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'crashInfo_city']") 
                  th.main-table.case-city-county.restrict-column-width.sm
                    a(href="", data-ng-click="setSort('crashInfo_county')") County
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'crashInfo_county']") 
                  th.main-table.case-state.restrict-column-width.sm
                    a(href="", data-ng-click="setSort('crashInfo_state')") State
                      i(data-ng-class="{true: sortIconClass, false: ''}[sortData.SortKey == 'crashInfo_state']")
                  th.main-table.case-controls   
              tbody 
                //filter:query | this was removed from the ng-repeat below
                tr.click-able(ng-repeat="caseFile in records", 
                            ng-class="{'last-opened': caseFile._id === latestCases[0].case_id, 'no-accident-report': caseFile.generalInfo.noAccidentReport, 'light-row': $index % 2 === 0}")
                  td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, caseFile._id)") {{caseFile.caseId}}
                  td.main-table.case-name(ng-click="openCase($event, caseFile._id)") {{ caseFile.generalInfo.caseName }}
                  td.main-table.case-crashnum(ng-click="openCase($event, caseFile._id)") {{ caseFile.generalInfo.crashNum }}
                  td.main-table.case-location(ng-click="openCase($event, caseFile._id)") {{ caseFile.crashInfo.road }}
                  td.main-table.case-drivers(ng-click="openCase($event, caseFile._id)", ng-bind-html="getItemList(caseFile.participants.vehicleSummary, 'driver')")
                  td.main-table.case-car-type(ng-click="openCase($event, caseFile._id)", ng-bind-html="getItemList(caseFile.participants.vehicleSummary, 'description')")
                  td.main-table.case-crash-date(ng-click="openCase($event, caseFile._id)") {{ caseFile.crashInfo.crashDateTime  | date:'MM-dd-yyyy' }}
                  td.main-table.case-city-county(ng-click="openCase($event, caseFile._id)") {{ caseFile.crashInfo.city }}
                  td.main-table.case-city-county(ng-click="openCase($event, caseFile._id)") {{ caseFile.crashInfo.county }}
                  td.main-table.case-state(ng-click="openCase($event, caseFile._id)") {{ caseFile.crashInfo.state }}
                  td.main-table
                    button.btn.btn-xs.btn-warning(ng-click="openCase($event, caseFile._id)")
                      i.icon-pencil
                    button.btn.btn-xs.btn-danger(ng-click="removeCaseFile(caseFile)")
                      i.icon-remove

        .widget-foot
        .pull-right.buffer-top-md(ng-hide="showSearchResults")
          ul.pagination
              li.prev(ng-class='{disabled: currentPage == 0}')
                a(href='href', ng-click='pagination.prevPage()') ← Previous
              li(ng-repeat='n in range(totalPages)', ng-class='{active: n == currentPage}', ng-click='pagination.getPage(n)')
                a(href='href', ng-bind='n + 1') 1
              li.next(ng-class='{disabled: currentPage == totalPages-1}')
                a(href='href', ng-click='pagination.nextPage()') Next →



div(ng-controller="RemoveCaseModalCtrl")
  script#confirmDeleteContent(type='text/ng-template')
    .modal-header
        h3.modal-title Confirm Removal
      .modal-body
        h3 Are you sure you want to remove this case?
        p 
        | The case will be marked as trash but not removed.  It will no longer appear in your case listing. If desired you can restore or permantly delete it from the trash bin. 
        ul
          li Case Number: 
            strong {{caseFile.caseId}}
          li Case Name: 
            strong {{caseFile.caseName}}

      .modal-footer
        button.btn.btn-danger(ng-click='$close(caseFile)') DELETE
        button.btn.btn-default(ng-click='$dismiss()') Cancel           

div(ng-controller="RemoveItemModalCtrl")
  script#confirmItemDeleteContent(type='text/ng-template')
    .modal-header
        h3.modal-title Confirm Removal
      .modal-body
        h3 Are you sure you want to remove this item?
        p 
        | The item will be permantly deleted and will not be recoverable. 

      .modal-footer
        button.btn.btn-danger(ng-click='$close(item)') DELETE
        button.btn.btn-default(ng-click='$dismiss()') Cancel  