div.padd
  h2 New Case Wizard jade
  .container
    .row
      .col-md-12
        .widget.wgreen
          .widget-head(ng-controller="MainCtrl")
            .pull-left New Case Wizard
            .widget-icons.pull-right
              a.wminimize(href='#', ng-click="widgetToggle($event)")
                i.icon-chevron-up
              a.wclose(href='#', ng-click="widgetClose($event)")
                i.icon-remove
            .clearfix
          .widget-content
            .padd(ng-controller="NewCaseWizardController")
              div(ui-view)
              .clearfix
          .widget-foot
            // Footer goes here 
  