.container
  .row
    .col-md-12
      .widget.wgreen
        .widget-head(ng-controller="MainCtrl")
          h3.pull-left  Settings
          .widget-icons.pull-right
            a.wminimize(href='#', ng-click="widgetToggle($event)")
              i.icon-chevron-up
            a.wclose(href='#', ng-click="widgetClose($event)")
              i.icon-remove
          .clearfix
        .widget-content
          .padd
            .container
              ul
                li 
                  a(href='/settings/user') Change password 
                li
                  a(href='/settings/create-user') Create user
                li
                  a(href='/settings/trash-bin') Trash bin
                li
                  a(href='/settings/convert-cases') Convert Old Cases to New
            .clearfix
        .widget-foot
          // Footer goes here 



    

