.sidebar-dropdown
  a(href='#') Navigation
// - Sidebar navigation
// If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation.
ul#nav
  // Main menu with font awesome icon
  li
    a(href='index.html')
      i.icon-home
      | Dashboard
  li.has_sub
    a(href='#')
      i.icon-list-alt
      | Edit Forms
      span.pull-right
        i.icon-chevron-right
    ul
      li
        a(href='edit-case') Edit Case Example
      li
        a(href='add-vehicle') Add Vehicle Example
      li
        a(href='add-passenger') Add Passenger Example
      li
        a(href='add-agency-request') Add Record Request
      li
        a(href='add-scene-inspection') Add Scene Inspection

