ul#myTab.nav.nav-tabs
                li.active
                  a(href='#accidentInfo', data-toggle='tab') Accident Information
                li
                  a(href='#vehicles', data-toggle='tab') Vehicles & Passengers
                li
                  a(href='#carrier', data-toggle='tab') Carrier Name
                li
                  a(href='#inspection', data-toggle='tab') Inspections
                li
                  a(href='#caseAdmin', data-toggle='tab') Case Admin
                li
                  a(href='#tasks', data-toggle='tab') Task Assignment
                li
                  a(href='#summary', data-toggle='tab') Summary & Notes
              #myTabContent.tab-content
                #accidentInfo.tab-pane.fade.in.active
                  // Accident Info Tab begin
                  .form-group
                    label.col-lg-1.control-label Reporting Agency
                    .col-lg-2
                      input.form-control(type='text', placeholder='Reporting Agency')
                    label.col-lg-1.control-label Officer Name
                    .col-lg-2
                      input.form-control(type='text', placeholder='Officer Name')
                  .form-group
                    label.col-lg-2.control-label Date of Accident
                    .col-lg-4
                      #datetimepicker1.input-append
                        input.form-control.dtpicker(data-format='yyyy-MM-dd', type='text')
                        span.add-on
                          i.btn.btn-info.btn-lg(data-time-icon='icon-time', data-date-icon='icon-calendar')
                  .form-group
                    label.col-lg-2.control-label Time of Accident
                    .col-lg-4
                      #datetimepicker2.input-append
                        input.form-control.dtpicker(data-format='hh:mm:ss', type='text')
                        span.add-on
                          i.btn.btn-info.btn-lg(data-time-icon='icon-time', data-date-icon='icon-calendar')
                  .form-group
                    label.col-lg-4.control-label Road of Occurrence
                    .col-lg-8
                      input.form-control(type='text', placeholder='Road of Occurrence')
                  .form-group
                    label.col-lg-4.control-label At its inter-section with
                    .col-lg-8
                      input.form-control(type='text', placeholder='At its intersection with')
                  .form-group
                    label.col-lg-1.control-label City
                    .col-lg-2
                      input.form-control(type='text', placeholder='City')
                    label.col-lg-1.control-label
                    .col-lg-2
                      label.checkbox-inline
                        input#cityLimits(type='checkbox', value='cityLimits')
                        | Inside City Limits
                  .form-group
                    label.col-lg-2.control-label County
                    .col-lg-2
                      select.form-control
                        option Bibb
                        option Cobb
                        option Dekalb
                        option Fulton
                        option Gwinnette
                        option Hall
                        option Lowndes
                    label.col-lg-2.control-label State
                    .col-lg-2
                      select.form-control
                        option AL
                        option GA
                        option FL
                        option TN
                        option SC
                        option NC
                        option MS
                  .form-group
                    label.col-lg-2.control-label Traffic Control
                    .col-lg-2
                      select.form-control
                        option None
                        option Stop Light
                        option Stop Sign
                        option Officer
                  .form-group
                    label.col-lg-4.control-label Roadway Conditions
                    .col-lg-8
                      input.form-control(type='text', placeholder='Roadway Conditions')
                  .form-group
                    label.col-lg-4.control-label Lighting
                    .col-lg-8
                      input.form-control(type='text', placeholder='Lighting')
                  .form-group
                    label.col-lg-4.control-label Weather
                    .col-lg-8
                      input.form-control(type='text', placeholder='Weather')
                // Accident Info Tab end
                // Vehicle Info Tab begin
                #vehicles.tab-pane.fade
                  .pull-left
                    a.btn.btn-info.add-vehicle(href='add-vehicle.html', data-toggle='add-vehicle-form') Add Vehicle
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th #
                        th Vehicle Info
                        th Driver Name
                        th Passengers
                        th Control
                    tbody
                      tr
                        td 1
                        td 2003 Dodge Grand Caravan
                        td Barbara-Jane Webber
                        td Michael Webber
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                      tr
                        td 2
                        td 2007 Toyota Land Cruiser
                        td Sam Thomas
                        td Lanna Turner, Bill, Murray
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                      tr
                        td 3
                        td 2012 Freightliner M9000
                        td Brian Denehey
                        td Julia Chiles, Richard Branson, Michelle Williams
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                      tr
                        td 4
                        td 1951 Studebaker
                        td Arron Burr
                        td Connie Mack
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                      tr
                        td 5
                        td 2014 Lamborghini Gallardo
                        td Katy Perry
                        td John Mayer
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                  ul.pagination.pull-right
                    li
                      a(href='#') Prev
                    li
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') Next
                // Vehicle Info Tab end
                #carrier.tab-pane.fade
                  h4 Carrier Information
                  p  
                  p  
                  p  
                  p  
                  p  
                #inspection.tab-pane.fade
                  h3 Scene Inspections
                  .padd
                    a.btn.btn-info(href='add-scene-inspection.html') Add Scene Inspection
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th #
                        th Inspection Type
                        th Assigned To
                        th Date Assigned
                        th Due Date
                        th Completed
                        th Control
                    tbody
                      tr
                        td 1
                        td Scene Map
                        td Brian Williams
                        td 02/05/2014
                        td 02/19/2014
                        td
                          label.checkbox-inline
                            input#cityLimits(type='checkbox', value='cityLimits')
                            | Completed
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                      tr
                        td 2
                        td 3D Scene
                        td Jess Harkin
                        td 02/05/2014
                        td 02/19/2014
                        td
                          label.checkbox-inline
                            input#cityLimits(type='checkbox', value='cityLimits')
                            | Completed
                        td
                          button.btn.btn-xs.btn-warning
                            i.icon-pencil
                          button.btn.btn-xs.btn-danger
                            i.icon-remove
                #caseAdmin.tab-pane.fade
                  .form-group
                    label.col-lg-4.control-label Attorney
                    .col-lg-8
                      select.form-control
                        option Alan Arkin
                        option Will Bobson
                        option Allan Dershowitz
                        option Joe Morgan
                    a.add-more.icon-plus-sign(href='#')
                  .form-group
                    label.col-lg-4.control-label Firm Name
                    .col-lg-8
                      input.form-control(type='text', placeholder='Firm Name')
                  hr
                  h3 Billing Information
                  .form-group
                    label.col-lg-2.control-label First Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='First Name')
                    label.col-lg-2.control-label Last Name
                    .col-lg-4
                      input.form-control(type='text', placeholder='Last Name')
                  .form-group
                    label.col-lg-2.control-label Address
                    .col-lg-4
                      input.form-control(type='text', placeholder='Address')
                    label.col-lg-2.control-label City
                    .col-lg-4
                      input.form-control(type='text', placeholder='City')
                  .form-group
                    label.col-lg-2.control-label State
                    .col-lg-4
                      select.form-control
                        option AL
                        option GA
                        option FL
                        option TN
                        option SC
                        option NC
                        option MS
                    label.col-lg-2.control-label Zip
                    .col-lg-4
                      input.form-control(type='text', placeholder='Zip')
                  .form-group
                    label.col-lg-2.control-label Phone
                    .col-lg-4
                      input.form-control(type='text', placeholder='Phone')
                    a.add-more.icon-plus-sign(href='#')
                  hr
                  .form-group
                    h3 Open Record Requests
                    .padd
                      a.btn.btn-info.add-agency-request(href='add-agency-request.html', data-toggle='add-agency-request') Add Request
                    table.table.table-striped.table-bordered.table-hover
                      thead
                        tr
                          th #
                          th Agency Name
                          th Item(s) Requested
                          th Date Sent
                          th Due Date
                          th Control
                      tbody
                        tr
                          td 1
                          td Georgia Highway Patrol
                          td All records relating to case
                          td 02/05/2014
                          td 02/19/2014
                          td
                            button.btn.btn-xs.btn-warning
                              i.icon-pencil
                            button.btn.btn-xs.btn-danger
                              i.icon-remove
                // Tasks Info Tab begin
                #tasks.tab-pane.fade
                  h3 Task Assignment
                  hr
                  .form-group
                    label.col-lg-2.control-label Render Scanning
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label CAD
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label Paper port
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label Auto Stats
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label Calculations
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label CMV Compliance Review
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                  .form-group
                    label.col-lg-2.control-label Process Photographs/Video
                    .col-lg-4
                      select.form-control
                        option Not Required
                        option Employee 1
                        option Employee 2
                        option Employee 3
                        option Employee 4
                        option Employee 5
                // Task Info Tab end
                #summary.tab-pane.fade
                  .form-group
                    label.col-lg-4.control-label Accident Summary
                    .col-lg-8
                      textarea.form-control(rows='3', placeholder='Accident Description Summary and Information')
                  .form-group
                    label.col-lg-4.control-label
                    .col-lg-8
                      // Widget
                      .widget
                        // Widget title
                        .widget-head
                          .pull-left Notes & Comments
                          .widget-icons.pull-right
                            a.wminimize(href='#')
                              i.icon-chevron-up
                            a.wclose(href='#')
                              i.icon-remove
                          .clearfix
                        .widget-content
                          // Widget content
                          .padd
                            ul.recent
                              li
                                .recent-content
                                  .recent-meta Posted on 25/1/2120 by Ashok
                                  div
                                    | Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                  .btn-group
                                    button.btn.btn-xs.btn-default
                                      i.icon-pencil
                                    button.btn.btn-xs.btn-default
                                      i.icon-remove
                                  .clearfix
                              li
                                .recent-content
                                  .recent-meta Posted on 25/1/2120 by Ashok
                                  div
                                    | Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                  .btn-group
                                    button.btn.btn-xs.btn-default
                                      i.icon-pencil
                                    button.btn.btn-xs.btn-default
                                      i.icon-remove
                                  .clearfix
                              li
                                .recent-content
                                  .recent-meta Posted on 25/1/2120 by Ashok
                                  div
                                    | Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                  .btn-group
                                    button.btn.btn-xs.btn-default
                                      i.icon-pencil
                                    button.btn.btn-xs.btn-default
                                      i.icon-remove
                                  .clearfix
                          // Widget footer
                          .widget-foot
                            .pull-left
                              a.btn.btn-info(href='#addNote') Add Note
                            ul.pagination.pull-right
                              li
                                a(href='#') Prev
                              li
                                a(href='#') 1
                              li
                                a(href='#') 2
                              li
                                a(href='#') Next
                            .clearfix
                      // End Notes Widget
              .clearfix