.container(ng-show="showAlert")
  br
  .padd
    .alert.alert-success
      button(type="button", class="close", ng-click="switchBool('showAlert')")
        | ×
      strong Done! {{ successMessage }}