.container
  .row
    .col-md-12
      .widget
        .widget-head
          .pull-left Case Trash Bin
          .widget-icons.pull-right
            a.wminimize(href='#', ng-click="widgetToggle($event)")
              i.icon-chevron-up
            a.wclose(href='#', ng-click="widgetClose($event)")
              i.icon-remove
          .clearfix
        .widget-content
          .container
            .padd.pull-left
              p.btn-toolbar 
               
                h2 Trash Bin
              
          .container
            hr
            table.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th.main-table.case-num.restrict-column-width.fixed
                    a(href="", ng-click="predicate = 'caseNum'; reverse=!reverse") Case #
                  th.main-table.case-name 
                    a(href="", ng-click="predicate = 'caseName'; reverse=!reverse") Case Name
                  th.main-table.case-crashnum
                    a(href="", ng-click="predicate = 'crashNum'; reverse=!reverse") Crash Number
                  th.main-table.case-location
                    a(href="", ng-click="predicate = 'location'; reverse=!reverse") Location
                  th.main-table.case-drivers
                    a(href="", ng-click="predicate = 'driver1Name'; reverse=!reverse") Drivers
                  th.main-table.case-car-type 
                    a(href="", ng-click="predicate = 'car1TypeOrCarrierName'; reverse=!reverse") Car Type/Carrier
                  th.main-table.case-crash-date 
                    a(href="", ng-click="predicate = 'crashDate'; reverse=!reverse") Crash Date
                  th.main-table.case-city-county
                    a(href="", ng-click="predicate = 'cityCounty'; reverse=!reverse") City/County
                  th.main-table.case-state 
                    a(href="", ng-click="predicate = 'state'; reverse=!reverse") State
                  th.main-table.case-controls 
              tbody
                tr.click-able(ng-repeat="caseFile in caseFiles | filter:query | limitTo:recordLimit:reverse | orderBy:predicate:reverse")
                  td.main-table.case-num.restrict-column-width.fixed(ng-click="openCase($event, caseFile._id, 'edit')") {{caseFile.caseId}}
                  td.main-table.case-name.restrict-column-width(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.generalInfo.caseName }}
                  td.main-table.case-crashnum.restrict-column-width.sm(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.generalInfo.crashNum }}
                  td.main-table.case-location.restrict-column-width.sm(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.crashInfo.road }}
                  td.main-table.case-drivers.restrict-column-width(ng-click="openCase($event, caseFile._id, 'edit')", ng-bind-html="getItemList(caseFile, 'drivers')")
                  td.main-table.case-car-type.restrict-column-width(ng-click="openCase($event, caseFile._id, 'edit')", ng-bind-html="getItemList(caseFile, 'carType')")
                  td.main-table.case-crash-date.restrict-column-width.sm(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.crashInfo.crashDateTime  | date:'MM-dd-yyyy' }}
                  td.main-table.case-city-county.restrict-column-width.sm(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.crashInfo.city }}
                  td.main-table.case-state.restrict-column-width.sm(ng-click="openCase($event, caseFile._id, 'edit')") {{ caseFile.crashInfo.state }}
                  td.main-table.case-controls.btn-toolbar
                    button.btn.btn-xs.btn-warning(ng-click="restoreCase(caseFile)")
                      | Restore
                    button.btn.btn-xs.btn-danger(ng-click="permRemoveCaseFile(caseFile)")
                      | DELETE
            .widget-foot
            //pagination.pull-right(total-items="totalItems", page="currentPage")
              .clearfix


div(ng-controller="TrashBinCtrl")
  script#confirmRealDeleteContent(type='text/ng-template')
    .modal-header
        h3.modal-title Confirm Removal
      .modal-body
        h3 Are you sure you want to DELETE this case?
        p 
        | The case will be permantly deleted.  It will no longer be recoverable. 
        ul
          li Case Number: 
            strong {{caseFile.caseId}}
          li Case Name: 
            strong {{caseFile.caseName}}

      .modal-footer
        button.btn.btn-danger(ng-click='$close(caseFile)') DELETE
        button.btn.btn-default(ng-click='$dismiss()') Cancel                
