.admin-form
  .container
    .row
      .col-md-12
        // Widget starts
        .widget.worange
          // Widget head
          .widget-head
            h2 Change Password
          .widget-content
            .padd
              // Login form
              form.form-horizontal(name='form', ng-submit='changePassword(form)', novalidate='')
                // Email
                .form-group
                  label.control-label.col-lg-3(for='password') Current Password
                  .col-lg-9
                    input.form-control(type='password', name='password', ng-model='user.oldPassword', mongoose-error='')
                    p.help-block(ng-show='form.password.$error.mongoose')
                      | {{ errors.other }}
                
                .form-group
                  label.control-label.col-lg-3(for='newPassword') New Password
                  .col-lg-9
                    input.form-control(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
                    p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
                      | Password must be at least 3 characters.

                p.help-block  {{ message }} 

                .col-lg-9.col-lg-offset-2.btn-toolbar
                  button.btn.btn-danger(type='submit') Save changes
                  button.btn.btn-default(type='reset') Reset
                br
          .widget-foot



