doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    base(href="/")
    title CSI CasePro
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')

    link(rel='shortcut icon', href='favicon.png')
    <link rel="stylesheet" href="styles/main.css"/>
  body(ng-app="caseProApp", ng-controller="MainCtrl")
    //[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]
    //[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]

    // page content 
    div(ng-include='\'partials/header\'', ng-controller="NavbarCtrl")
    div.content
      //div.sidebar(ng-include='\'partials/sidebar\'')
      div.mainbar
        //div(ng-include='\'partials/mainbar\'')
        div(ng-include='\'partials/message\'')
        div.matter(ui-view, autoscroll="false")
    div(ng-include='\'partials/footer\'')

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));


    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="scripts/scripts.js"></script>
    
